<head>

    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

    {% load staticfiles %}

    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}

    <link rel="stylesheet" type="text/css" href="{% static 'musicTool/style.css' %}" />

</script>

</head>

<body>
    <h1>Plex Music Tool</h1>

    <form action="{% url 'musicTool:updateLastFmData' %}" method="post">
        {% csrf_token %}
        {% buttons %}
                <button type="submit" class="btn btn-danger">Sync LastFm Scrobbles</button>
        {% endbuttons %}
    </form>

    <h3>Settings</h3>
    <form action="{% url 'musicTool:setSettings' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form settings_form layout='inline' %}
        {% buttons %}
                <button type="submit" class="btn btn-primary">Update Settings</button>
        {% endbuttons %}
    </form>

    <br />
    <br />

    <!-- <b>New Playlist:</b>
    <form action="{% url 'musicTool:addPlaylist' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form playlist_form layout='inline' %}
        {% buttons %}
            <button type="submit">Test Query</button>
         {% endbuttons %}
         {% buttons %}
            <button type="submit">Create Playlist</button>
        {% endbuttons %}
    </form>

    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Query</th>
            <th>Last Updated</th>
        </tr>
        {% for playlist in playlists %}
        <tr>
            <td>{{ playlist.name }}</td>
            <td>{{ playlist.description }}</td>
            <td>{{ playlist.query }}</td>
            <td>{{ playlist.last_updated }}</td>
            <td><button>Edit</button></td>
            <td><button>Delete</button></td>
        </tr>
    {% endfor %}
    </table>

    <br />
    <br />

    <b>Songs:</b>
    <ul>
    {% for song in songs %}
        <li>{{ song.title }}</li>
    {% endfor %}
    </ul> -->
</body>
